/* fonts */

@font-face {
  font-family: 'Neris-SemiBold';
  src: url('/styles/fonts/Neris-SemiBold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/styles/fonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/styles/fonts/Neris-SemiBold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/styles/fonts/Neris-SemiBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/styles/fonts/Neris-SemiBold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
font-family: 'Neris';
  src: url('/styles/fonts/Neris-Light-webfont.eot'); /* IE9 Compat Modes */
  src: url('/styles/fonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/styles/fonts/Neris-Light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/styles/fonts/Neris-Light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/styles/fonts/Neris-Light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  font-family: Neris-SemiBold;
  color: rgba(0,0,0,1);
}

h1 {
  font-size: 3em;  
}

h2 {
  font-size: 2em;  
}
h3 {
  font-size: 1.5em;  
}
h4 {
  font-size: 1em;  
}

p {
  font-family: Neris;
}

/* Space out content a bit */
body {
  padding-top: 0;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
    padding-top: 30px;
    margin-bottom: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  color: rgba(255,255,255,1);
}

.header h2::first-letter {
  border-bottom-style: solid;
  border-bottom-color: rgba(235,65,45,1);
  border-bottom-width: 3px;

}
/* landingGection */

.landingSection {
  background: url(/images/bricks.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: rgba(235,65,45,1);
  border-bottom-width: 5px;
}

.landingSectionOverlay {
background: rgba(248,80,50,0);
background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,0) 0%, rgba(97,52,46,0.51) 51%, rgba(77,46,51,0.53) 53%, rgba(77,46,51,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,0)), color-stop(51%, rgba(97,52,46,0.51)), color-stop(53%, rgba(77,46,51,0.53)), color-stop(100%, rgba(77,46,51,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,0) 0%, rgba(97,52,46,0.51) 51%, rgba(77,46,51,0.53) 53%, rgba(77,46,51,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,0) 0%, rgba(97,52,46,0.51) 51%, rgba(77,46,51,0.53) 53%, rgba(77,46,51,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,0) 0%, rgba(97,52,46,0.51) 51%, rgba(77,46,51,0.53) 53%, rgba(77,46,51,1) 100%);
background: radial-gradient(ellipse at center, rgba(248,80,50,0) 0%, rgba(97,52,46,0.51) 51%, rgba(77,46,51,0.53) 53%, rgba(77,46,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#4d2e33', GradientType=1 );
}

.landingTextBox {
  margin: 20% 0;  
}

.landingTextBox h1, .landingTextBox h3 {
  color: rgba(255,255,255,1);
  max-width: 300px;
}
.landingTextBox h3 {
  display: inline-block;
}

.landingTextBox a h3 {
  color: rgba(255,255,255,1);
} 

.landingTextBox span {
  display: inline-block;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url(/images/image-sprite.png) no-repeat -5px -250px;
  vertical-align: middle;
  margin-right: 0.6em;
}


/* aboutSection */

.welcome p {
  font-size: 1.2em;  
}

p {
  font-size: 1em;   
}
.welcome p.more {
  margin: 20px 0;
  font-size: 1em;  
}

.more span {
  color: rgba(235,65,45,1);
  margin: 0 10px 0 0;
}

/* projectsSection */

.projectsSection {
  background: rgba(235,65,45,1);
  height: 100%;
}
.projectsSection h2 {
  color: rgba(255,255,255,1);  
  margin: 50px 0 0 25px;
}
.projectsSection h2::first-letter {
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,1);
  border-bottom-width: 3px;
}

#slider .item {
  min-height: 375px;
}
a.next, a.prev {
  position: absolute;  
  top: 45%;
  cursor: pointer;
  margin: auto 25px;
}

a.next {
  right: -60px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;  
  border-left: 30px solid rgba(255,255,255,0.3);
}

a.prev {
  left: -60px;
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;  
  border-right: 30px solid rgba(255,255,255,0.3);
}

.item {
  /* border: solid 1px black;*/
}
.item h3 {
  color: rgba(255,255,255,1);
  font-family: Neris;
}
.item .text-muted {
  margin-top: -5px;
  font-family: Neris;
  font-size: 1em;
  color: rgba(0,0,0,1);
}
.item .text-description {
  font-family: Neris;
  font-size: 1em;  
  color: #F5A298;
  line-height: 1.5em;
  text-align: left;
  width: 78%;
  margin: 1em 0;

}
.imgContainer {
  background: rgb(150,150,150);   
}

.slick-slide img {
  opacity:  0.85;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }



  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
